<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/main.css' ) }}" />
</head>
<body>
    <p>
        <b>
           <h1>Тест на задания ПДД КР</h1>
        </b>
    </p>
    <p>Поставьте галочки напротив ответа,который Вы считаете верным</p>
        <ul>
            {% for q in questions %}
                <li>
                    Вопрос: {{ q.question }}<br>
                    Правильный ответ: {{ q.correct_answer }}
                    Картинка: <img src="static/{{ q.image }}"/>
                </li>
             {% endfor %}
       </ul>
    
    
    <p><input type="submit"></p>
</body>
</html>